.navbar-custom {
    background-color: #ffa537 !important;

}

.fullc {
  /* background-color: #fcc125 !important; */
  /* background: linear-gradient( hwb(47 24% 0% / 0.977), rgba(216, 118, 32, 0.539)) ; */
  /* box-shadow: 10px 10px 5px grey; */
}

.lessc {
  /* background-color: #ffe299; */
  /* background: linear-gradient( rgba(216, 118, 32, 0.539), hwb(47 24% 0% / 0.977)) !important; */
  /* box-shadow: 10px 10px 5px grey; */
}

.heading {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px grey;
  padding-bottom: 20px;
}

.btn-custom {
  align-self: center;
  margin-top: 15px;
  height: 100px;
  font-size: 50px;
  width: 100%;
  background-color: #ffa537;
}

.footer {
  height: 100px;
}

.img-custom {
   width: 1000px;
   height: auto;
   padding-top: 15px;
   padding-bottom: 25px;
}

.text {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px grey;
}

.card-heading {
  text-align: center;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px grey;
  font-size: 2rem;
}

.responsive {
  transform: scale(1);
  transition: .3s ease;
}

.responsive:hover {
  transform: scale(1.05);
  transition: .3s ease;
}
